<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekuniverse.cac.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geekuniverse.cac.entity.Order">
        <id column="id" property="id" />
        <result column="store_id" property="storeId" />
        <result column="box_id" property="boxId" />
        <result column="user_id" property="userId" />
        <result column="box_name" property="boxName" />
        <result column="store_name" property="storeName" />
        <result column="address" property="address" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="duration" property="duration" />
        <result column="payment_amount" property="paymentAmount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, store_id, box_id, user_id, box_name, store_name, address, lng, lat, start_time, end_time, duration, payment_amount, create_time, update_time
    </sql>

</mapper>
