<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekuniverse.cac.mapper.StoreBoxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geekuniverse.cac.entity.StoreBox">
        <id column="id" property="id" />
        <result column="store_id" property="storeId" />
        <result column="name" property="name" />
        <result column="intro" property="intro" />
        <result column="hourly_price" property="hourlyPrice" />
        <result column="imgs" property="imgs" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, store_id, name, intro, hourly_price, imgs, create_time, update_time
    </sql>

</mapper>
