<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekuniverse.cac.mapper.StoreBoxLabelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geekuniverse.cac.entity.StoreBoxLabel">
        <id column="id" property="id" />
        <result column="box_id" property="boxId" />
        <result column="label_id" property="labelId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, box_id, label_id
    </sql>

</mapper>
